html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 50px 0 80px 0;
    background-color: #edeef0;
}

.navbar {
    background-color: #507299;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    background-color: #305075;
    color: #fff;
}

.main-container {
    margin-top: 35px;
    max-width: 500px;
    min-width: 320px;
}

.form-container {
    background-color: rgba(0,0,0,.075);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.form__img {
    text-align: center;
    padding: 10px 10px 20px 10px;
}

.btn-success__send {
    width: 66px;
}

.comment {
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: #fff;
    padding: 15px;
}

.comment__email {
    color: #2a5885;
}

.comment__login {
    font-weight: bold;
    color: #2a5885;
    font-size: 11px;
}

.comment__date {
    color: #939393;
    font-size: 12.5px;
}

.comment__changed {
    color: #939393;
    font-size: 11.5px;
    display: block;
    text-align: right;
}

.comment__text {
    font-size: 13px;
    text-align: justify;
    padding: 20px 15px 18px 0;
}

.comment__img {
    border-top: 1px solid #e7e8ec;
    padding-top: 15px;
    text-align: center;
}

img {
    max-width: 320px;
    max-height: 240px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #d3d3da;
    margin-top: 20px;
}

.footer > .container {
    padding-top: 20px;
}

.hideblock {
    display: none;
}